.item-img {
  width: 85px;
}
.product-item {
  width: 45%;
  height: 240px;
  box-shadow: 0 4px 8px #0000004d;
  margin: 5px;
  background-color: rgba(244, 234, 234, 0);
}
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
}
.item-title {
  font-size: 12px;
  text-align: center;
  height: 30px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
}
